.header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5vh;
  padding-bottom: 2vh;
}

.header-left {
  cursor: pointer;
}

.header-left,
.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}
